{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Transportation HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!--Importar IConos de BOOSTRAPT PARA QUE FUNCIONE -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">
    <!--Evitar el RTL poner el siguiente-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.4/css/fileinput.min.css" integrity="sha512-yDVMONIXJPPAoULZ92Ygngsn8ZUGB4ejm6fCc6q9ZvdH8blFAOgg75XZSEaAJ5m4E/yPI1BAi5fF2axMHVuZ5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--Importando DATATABLES-->
    <!--Componente CSS-->
    <link rel="stylesheet" href="//cdn.datatables.net/2.3.8/css/dataTables.dataTables.min.css" >
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.6/css/buttons.dataTables.css"/>



    <!--Importaciones JQ Principales-->
    <!-- JS here -->

    <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, opper, Bootstrap -->
    <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>


    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/animated.headline.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>

    <!-- Nice-select, sticky -->
    <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
    
    <!-- contact js -->
    <script src="{% static 'assets/js/contact.js' %}"></script>
    <script src="{% static 'assets/js/jquery.form.js' %}"></script>
    <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/js/mail-script.js' %}"></script>
    <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>


<!--Importaciones-->
    <!--Importando CDN de Jquery VALIDATION-->
    
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>

    <!--Importar CDN de BOOSTRAP FILEINPUT-->
    <!--Para VALIDAR DOCUMENTOS-->
    <!--Primer Componente-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.4/js/fileinput.min.js" integrity="sha512-0wQvB58Ha5coWmcgtg4f11CTSSxfrfLClUp9Vy0qhzYzCZDSnoB4Vhu5JXJFs7rU24LE6JsH+6hpP7vQ22lk5w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.4/js/locales/es.min.js" integrity="sha512-S0JIOaKT8nR01aG3SVwIeYYdf0+/0GgZz03j6WN0r9UYNtAgZOEntG5VRigldiFWY/ka6p6umMGmAE9DnDBgnQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--Componente Script-->
    <script src="//cdn.datatables.net/2.3.8/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.6/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.6/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.6/js/buttons.print.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js" ></script>
    

</head>
<body>
<!--? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="assets/img/logo/loder.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <div class="header-top d-none d-lg-block">
                <div class="container">
                    <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left">
                                <ul>     
                                    <li>Phone: (+593) 984077565</li>
                                    <li>Email: lataexpress@gmail.com</li>
                                </ul>
                            </div>
                            <div class="header-info-right">
                                <ul class="header-social">    
                                    <li><a href="https://x.com/?lang=es"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.facebook.com/?locale=es_LA"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://ec.linkedin.com/"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom  header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <img src="{% static 'assets/img/logo/logoLATAEXPRESS2.png' %}" alt="Logo" style="width:300px; height:auto;">
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav> 
                                        <ul id="navigation">                                                                                          
                                            <li><a href="/">Inicio</a></li>
                                            <li><a href="/about/">Sobre Nosotros</a></li>
                                            {% if user.is_authenticated %}
                                                {% if user.is_superuser %}
                                                    <li><a href="/showclientes/">Asociados</a></li>
                                                {% else %}
                                                    {% for group in user.groups.all %}
                                                        {% if group.name == 'admin' %}
                                                            <li><a href="/showclientes/">Asociados</a></li>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}
                                            <li><a href="#">Encomiendas</a>
                                                <ul class="submenu">
                                                    {% if user.is_superuser %}
                                                        <li><a href="/showencomiendas/">Encomiendas</a></li>
                                                    {% else %}
                                                        {% for group in user.groups.all %}
                                                            {% if group.name == 'admin' %}
                                                                <li><a href="/showencomiendas/">Encomiendas</a></li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    <li><a href="/rastrear_encomienda/">Rastrear encomienda</a></li>
                                                    {% if user.is_authenticated and not user.is_superuser %}
                                                        {% for group in user.groups.all %}
                                                            {% if group.name == 'transportista' %}
                                                                <li><a href="/actualizar_estados/">Actualizar estados</a></li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- Header-btn -->
                                <div class="header-right-btn d-none d-lg-block ml-20">
                                    {% if user.is_authenticated %}
                                        <a href="/logout/" class="btn header-btn">Cerrar Sesión</a>
                                    {% else %}
                                        <a href="/login/" class="btn header-btn">Iniciar Sesión</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div> 
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>


<!--Contenido del INDES O INICIO-->
<!--JUNJA2-->
<!--Para el Pie de Pagina-->
<br><br>
{% block contenido %}
{% endblock %}


<footer>
    <!--? Footer Start-->
    <div class="footer-area footer-bg">
        <div class="container">
            <div class="footer-top footer-padding">
                <!-- footer Heading -->
                <div class="footer-heading">
                    <div class="row justify-content-between">
                        <div class="col-xl-6 col-lg-8 col-md-8">
                            <div class="wantToWork-caption wantToWork-caption2">
                                <h1>Conectamos Latacunga con todo el Ecuador</h1>
                                <h2>Tu encomienda llega segura, rápida y a tiempo</h2>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <span class="contact-number f-right">(+593) 984077565</span>
                        </div>
                    </div>
                </div>
                <!-- Footer Menu -->
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>COMPANY</h4>
                                <ul>
                                    <li><a href="#">Inicio</a></li>
                                    <li><a href="#">Sobre Nosotros</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Open hour</h4>
                                <ul>
                                    <li><a href="#"> Monday - Saturday: 08:00 AM - 06:00 PM </a></li>
                                    <li><a href="#"> Sunday: Closed </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>SERVICES</h4>
                                <ul>
                                    <li><a href="#"> Envío de Encomiendas </a></li>
                                    <li><a href="#"> Seguimiento de Paquetes </a></li>
                                    <li><a href="#"> Entrega a Domicilio </a></li>
                                    <li><a href="#"> Cobertura Nacional </a></li>
                                    <li><a href="#"> Atención al Cliente </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p class="info1">© 2026 LataExpress - Todos los derechos reservados. Proyecto académico desarrollado por la universidad Técnica de Cotopaxi.</p>
                                </div>
                            </div>
                            <!-- Footer Social -->
                            <div class="footer-social ">
                                <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://x.com/?lang=es"><i class="fab fa-twitter"></i></a>
                                <a href="https://ec.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-12">
                        <div class="footer-copy-right text-center">
    <link rel="stylesheet" href=" {% static 'assets/css/style.css' %}">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>
    <!--Importando Sweet Alert-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


     <!--Estilo para las alertas de validaciones de Inputs entradas-->
  <style>
    input{
      border-radius: 10px;
    }
    label.error{
      color: red;
      margin-top: 5px;
    }
    input.error{
      border-color: red;
    }

  </style>
<!-- Alerta de Guardar Cliente -->
  <script>
    $("#form_nuevo_contrato").submit(function(e){
        e.preventDefault();

        Swal.fire({
            title: "¿Guardar Cliente?",
            text: "Se registrará el cliente en el sistema",
            icon: "question",
            showCancelButton: true,
            confirmButtonText: "Sí, guardar"
        }).then((result) => {
            if (result.isConfirmed) {
                this.submit();
            }
        });
    });
  </script>

<!-- Alerta de Eliminar Contrato -->
  <script>
    function confirmarEliminacionCliente(event, urlEliminar){
        event.preventDefault();

        Swal.fire({
            title: "¿Eliminar este Cliente?",
            text: "Esta acción no se puede deshacer",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Sí, eliminar"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = urlEliminar;
            }
        });
    }
  </script>

<!--Agregar con JINJA para el mensaje de respuesta-->
{% if messages %}
    {% for mensaje in messages %}
        <script>
        Swal.fire({
            title: "{% if mensaje.tags == 'error' %}Error{% elif mensaje.tags == 'warning' %}Atención{% else %}Confirmación{% endif %}",
            text: "{{ mensaje }}",
            icon: "{% if mensaje.tags == 'error' %}error{% elif mensaje.tags == 'warning' %}warning{% else %}success{% endif %}",
        });
        </script>
    {% endfor %}
{% endif %}
    
</body>
</html>
